flask (1.1.1)
Flask-Cors (3.0.8)
psycopg2 (2.8.3)
cx-Oracle (7.2.2)
gevent (1.2.2)
gunicorn (19.7.1)
greenlet (0.4.15)
//PyJWT (1.7.1)
Flask-JWT (0.3.2)

pip freeze
Click==7.0
cx-Oracle==7.2.2
DateTime==4.3
Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT==0.3.2
get==2019.4.13
gevent==1.2.2
greenlet==0.4.15
gunicorn==19.7.1
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
post==2019.4.13
psycopg2==2.8.3
public==2019.4.13
PyJWT==1.4.2
pytz==2019.2
query-string==2019.4.13
request==2019.4.13
six==1.12.0
Werkzeug==0.15.5
zope.interface==4.6.0
